[submodule "config/vim/pack/user/start/vim-commentary"]
	path = config/vim/pack/user/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/vim/pack/user/start/fzf"]
	path = config/vim/pack/user/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "config/vim/pack/user/start/fzf.vim"]
	path = config/vim/pack/user/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
