[user]
    name = Pierre Paridans
    email = pierre@paridans.org
[alias]
    br = branch -v
    co = checkout
    fa = fetch --all --prune
    st = status
    com = commit -v
    cur = branch --show-current
    di = diff -w
[core]
    editor = vim
[color]
    ui = auto
