[submodule "lib/selecta"]
	path = lib/selecta
	url = https://github.com/garybernhardt/selecta
[submodule ".vim/pack/user/start/vim-dracula"]
	path = .vim/pack/user/start/vim-dracula
	url = https://github.com/dracula/vim.git
