[user]
    name = Pierre Paridans
    email = pierre@paridans.org
[alias]
    br = branch -v
    br-gone = ! LANG=C git branch -vv | awk '/: gone]/{print $1}'
    co = checkout
    fa = fetch --all --prune
    st = status
    com = commit -v
    cur = branch --show-current
    di = diff -w
    cp = cherry-pick
    upd = pull --ff-only --autostash
    pu = push
    puf = push --force-with-lease
[core]
    editor = vim
[color]
    ui = auto
[rebase]
    instructionFormat = (%an) %s
[commit]
    verbose = true
